/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    height:830px; min-width:1220px;
    background-image:url(../images/hero_bnr.png);
    background-size:cover;
    background-position:center;
    padding-top:489px;
}
#wrap main #hero_bnr .ad_txt {
    text-align:center;
}
#wrap main #hero_bnr .ad_txt > * {
    color:#fff;
    line-height:1.5;
    text-shadow:0 4px 4px rgba(0,0,0,0.25);
    font-family:'Noto Sans KR',sans-serif;  /* 웹글꼴 주소 연결 */
}
#wrap main #hero_bnr .ad_txt p {
    font-size:1.88rem;
    font-weight:500;
}
#wrap main #hero_bnr .ad_txt h1 {
    font-size:3.13rem;
    font-weight:700;
}
#wrap main #hero_bnr #reservation_form {
    background-color:rgba(255,255,255,0.6);
    width:1162.5px;
    margin:0 auto;
    padding:16px 12px;
    border-radius:20px;
    display:flex;/* 객실~체크아웃~인원~검색 자식들 정렬 flex */
    flex-flow:row nowrap;/* 메인축(수평) */
    justify-content:space-between; /* 메인축 (수평) 양쪽끝 배치 */
    align-items:flex-end;
}
/* ----------------------------------------------객실~인원 공통디자인 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    margin-bottom:10px;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {}
/* ----------------------------------------------객실 선택 */
#wrap main #hero_bnr #reservation_form .rooms {}
#wrap main #hero_bnr #reservation_form .rooms h2 {}
#wrap main #hero_bnr #reservation_form .rooms .room_type {
    position:relative; /* room_open의 기준  */
}
#wrap main #hero_bnr #reservation_form .rooms .room_type > a,
#wrap main #hero_bnr #reservation_form .rooms .room_type > .room_open a {
    /* 포사이드방 */
    display:flex; /* flex설정 시 형제끼리 크기 맞추는 자동설정 때문에 이미지 비율이 망가져 보일 수 있음 (메인, 교차축 설정 적용하면 해결됨) */
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center; background-color:#fff;
    border:1px solid rgba(0,0,0,0.6);
    border-radius:12px;
    width:173px; height:64px; 
    padding:0 12px;
}
#wrap main #hero_bnr #reservation_form .rooms .room_type:hover .room_open {
    display:block;
}
#wrap main #hero_bnr #reservation_form .rooms .room_type .name {font-size:0.88rem;}
#wrap main #hero_bnr #reservation_form .rooms .room_type img {
    /* width:24px;   flex로 인해 보정이 되기 때문에 크기를 따로 쓸 필요없었음. */
}
#wrap main #hero_bnr #reservation_form .rooms .room_type .room_open {
    position:absolute; left:0; top:64px;
    /* absolute 설정 시 기존 태그 크기가 inline-block 처럼 바뀜 */
    display:none;
}
#wrap main #hero_bnr #reservation_form .rooms .room_type .room_open a {}
#wrap main #hero_bnr #reservation_form .rooms .room_type .room_open a .name {}
#wrap main #hero_bnr #reservation_form .check_in_out {
    display:flex;
    flex-flow:row nowrap;
    gap:15px;
}
/* ----------------------------------------체크인아웃 공통 */
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in a,
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out  a {
    background-color:#fff;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    border:1px solid rgba(0,0,0,0.6);
    border-radius:12px;
    width:173px; height:64px; 
    padding:0 12px;
}
#wrap main #hero_bnr #reservation_form .check_in_out .date {
    font-size:0.88rem;
}
/* ----------------------------------------체크인 */
#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in a {}
#wrap main #hero_bnr #reservation_form .check_in_out .in a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .in a img {}
/* -----------------------------------일정 */
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    display:flex;
    flex-flow:column nowrap;
    /* justify-content:space-around; */
    align-items:center;
    width:32px; height:90px;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {
    margin-bottom:20px;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {}
/* --------------------------------------체크 아웃 */
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out a .date {}
#wrap main #hero_bnr #reservation_form .check_in_out .out a img {}
/* ---------------------------------------공통 인원 선택자 */
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {}
#wrap main #hero_bnr #reservation_form .person .number {
    display:flex;
    flex-flow:row nowrap;
    gap:20px;
}
#wrap main #hero_bnr #reservation_form .person .number li {
    background-color:#fff;
    border:1px solid rgba(0,0,0,0.6);
    border-radius:12px;
    width:173px; height:64px; padding:0px 6px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {
    width:24px; height:24px;
}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn img {}
#wrap main #hero_bnr #reservation_form .person .number li span {
    font-size:0.88rem;
}
#wrap main #hero_bnr #reservation_form .person .number li span input {
    width:30px;
    text-align:center;
}
/* --------------------------------------인원 */
#wrap main #hero_bnr #reservation_form .person .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove img {}
#wrap main #hero_bnr #reservation_form .person .number li span{}
#wrap main #hero_bnr #reservation_form .person .number li #kid_add {}
#wrap main #hero_bnr #reservation_form .person .number li #kid_remove {}
#wrap main #hero_bnr #reservation_form .person .number li #kid_remove img {}
/* --------------------------------------------------검색 버튼 */
#wrap main #hero_bnr #reservation_form > p {}
#wrap main #hero_bnr #reservation_form > p #search_btn {
    color:#fff; font-size:0.88rem;
    background-color:#4F49BA;
    width:86.5px; height:64px;
    border:1px solid rgba(0,0,0,0.6);
    border-radius:12px;
    text-align:center;
}
#wrap main #hero_bnr #reservation_form > p #search_btn:hover {
    background-color:#383487;
}
/* ===============================================================양림동 호랑가시나무소개 */
#wrap main #intro_wrap {
    background-color:#f5f5f5;
}
#wrap main #intro_wrap .intro {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:flex-start;
    gap:30px;
}
#wrap main #intro_wrap .intro h1 {}
#wrap main #intro_wrap .intro h1+p {}
#wrap main #intro_wrap .intro p:last-child {}
#wrap main #intro_wrap .intro p:last-child img {width:100%;} /* 반응형웹에서 부모크기를 따라가도록 설정 (권장) */
#wrap main #attraction_wrap {
    background-color:#fff;
}
/* ==========================================================================관광지 소개 */
#wrap main #attraction_wrap .attraction > *{margin-bottom:30px;}
#wrap main #attraction_wrap .attraction {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
}
#wrap main #attraction_wrap .attraction h1 {}
#wrap main #attraction_wrap .attraction p {}
#wrap main #attraction_wrap .attraction .list {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap main #attraction_wrap .attraction .list li {
    width:calc(100 - (20px * 3) / 4);
    overflow:hidden;
}
#wrap main #attraction_wrap .attraction .list li a {
    display:block;
    height:250px;
    overflow:hidden;
    margin-bottom:10px;
}
#wrap main #attraction_wrap .attraction .list li a img {
    width:100%;
}
#wrap main #attraction_wrap .attraction .list li a:hover img {
    width:120%;
}
#wrap main .attraction .list li h2 {
    font-size:1.13rem;
    font-weight:500;
}
#wrap main .attraction .more {
    margin:0 auto;
    border-bottom:1px solid #000;
    padding-top:50px;
}
/* ========================================================객실 및 예약안내 */
#wrap main #room_reservation {background-color:#f5f5f5;}
#wrap main #room_reservation .room_info {
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-content:space-between;
    width:1220px; margin:0 auto; padding:70px 0;
    gap:30px;
}
#wrap main #room_reservation .room_info h1 {}
#wrap main #room_reservation .room_info p {}
#wrap main #room_reservation .room_info .room_list {
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    width:1220px; gap:20px;
}
#wrap main #room_reservation .room_info .room_list .room img {width:220px; height:250px;}
#wrap main #room_reservation .room_info .room_list .room1 {}
#wrap main #room_reservation .room_info .room_list .room2 {}
#wrap main #room_reservation .room_info .room_list .room3 {}
#wrap main #room_reservation .room_info .room_list .room4 {}
#wrap main #room_reservation .room_info .room_list .room a {}
/* #wrap main #room_reservation .room_info .room_list .room img {width:100%;} */
#wrap main #room_reservation .room_info .room_list .room h2 {font-size:1.13rem; font-weight:500;}
#wrap main #room_reservation .room_info .room_list .room p {display:none;}
#wrap main #room_reservation .room_info .reservation {
    margin:0 auto;
    border-bottom:1px solid #000;
    padding-top:50px;
}
#wrap main #room_reservation .room_info .room_list .active { width:550px;}
#wrap main #room_reservation .room_info .room_list .active p {display:block;}
#wrap main #room_reservation .room_info .room_list .active img {width:550px; height:350px;}
#wrap main #room_reservation .room_info .room_list .room {transition:0.3s;}
/* ========================================================게스트 하우스 찾아오시는길 */
#wrap main #location_wrap {}
#wrap main #location_wrap .location {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
    align-items:flex-start;
    width:1220px; margin:0 auto; padding:70px 0;
    gap:30px;
}
#wrap main #location_wrap .location .title {
    display:flex;
    width:100%;
    flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap main #location_wrap .location .title h1 {font-size:1.5rem;
    font-weight:500;}
#wrap main #location_wrap .location .title p {}
#wrap main #location_wrap .location a {}
#wrap main #location_wrap .location a img {}
#wrap main #location_wrap .location dl {}
#wrap main #location_wrap .location dt { 
    font-size:1.5rem;
    font-weight:500;
}
#wrap main #location_wrap .location dd {
    font-size:0.94rem;
    font-weight:400;
    color:#555555;
    line-height:1.7rem;
}
#wrap main #location_wrap .location dd:nth-child(3) {margin:30px 0;}